/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

small {
    color: gray;
}

h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
}

h5 {
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 30%;
    margin-top: 30px;
}
/* 投稿の色　*/
ul li {
    background-color: rgb(255, 255, 255);
    border: 2px solid #3896f5;
    padding: 20px;
}
/* 投稿のタイトル　*/
ul li h2 {
    margin: 0 0 10px 0;
    color: rgb(0, 0, 0);
}
/* 投稿の内容　*/
ul li p {
    color: rgb(0, 0, 0);
    margin: 0;
}
/* 新規投稿ボタンを中央へ　*/
.button-container {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 246, 217);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px opx 10px opx rgba(0, 0, 0, 0.15);
    max-width: 500px;
    margin: auto;
    margin-top: 65px;
}

.form-input {
    margin-bottom: 30px;
    width: 100%;
}

.form-input input,
.form-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px soild #ddd;
    border-radius: 10px;
}
/* 新規投稿ボタンの色　*/
.link-button {
    display: inline-block;
    background-color: rgb(114, 117, 211);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.link-delete-button {
    display: inline-block;
    background-color: crimson;
    font-size: 25px;
    color: yellow;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    border: 2px solid;
    cursor: pointer;
}

.edit-delet-wrapper {
    display: flex;
    margin-top: 10px;
}
 













